<p><strong>Auteur inconnu</strong></p>
<p><strong>Anaïs Moreau</strong></p>
<p><strong>Création théâtre (report saison 20-21)</strong><span id="anchor"></span></p>
<p><strong>Du 16 au 22 septembre 2021</strong></p>
<p>16 , 17 à 20h</p>
<p>18 à 18h</p>
<p>20 , 21 à 13h30<br />
21, 22 à 20h</p>
<p><span id="anchor-1"></span></p>
<p><strong>De l'intime à l'extime : l'expérience du jeu de soi...</strong></p>
<p>La nuit du 18 septembre 1998 - elle a 16 ans - elle se retrouve dans une chambre d'hôtel avec un jeune homme séduisant qu'elle vient de rencontrer, le soir-même, à la braderie du Canal Saint-Martin à Rennes. C'est sa "première fois". Et cela se passe mal. Elle découvre la sexualité sous la forme de la contrainte. Crûment, on appelle cela : viol. Un acte qu'elle garde, anonyme, pendant sept ans. Durant de nombreuses années, ses relations amoureuses sont comme des répétitions de cette première expérience : violences, névroses, rapports de domination et de soumission...</p>
<p>Dix-sept ans plus tard, elle porte plainte avec les souvenirs qui lui restent. Le dossier sera classé sans suite. Motif : auteur inconnu. C'est de cette expérience-là, réelle, brute, autobiographique, que Anaïs Moreau a voulu partir, pour l'ausculter, la partager et la porter vers une possible élucidation.</p>
<p>Jeu : Anaïs Moreau et Renaud Garnier-Fourniguet</p>
<p>Conception : Anaïs Moreau</p>
<p>Collaboration artistique : Judith Ribardière</p>
<p>Création sonore : Loup Mormont</p>
<p>Création lumière : Nicolas Thill</p>
<p>Scénographie et costumes : Camille Collin</p>
<p>Aide à l'écriture et au jeu : Nicolas Luçon</p>
<p>Régie son : Antonin Simon</p>
<p>Stagiaire son : Némo Camus</p>
<p>Coproduction et production déléguée : Théâtre la Balsamine</p>
<p>Soutiens : Equal.brussels (Région Bruxelles-Capitale), Théâtre &amp; Publics, La Chaufferie, BAMP, Centre Culturel de la Vénerie, Zinneke ASBL, Agnès Limbos</p>
<p><em><em>+ logo equal </em></em></p>
